@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Kodchasan Medium';
  src: url('/fonts/Kodchasan-Medium.ttf');
}

@font-face {
  font-family: 'Kodchasan';
  src: url('/fonts/Kodchasan-Regular.ttf');
}

@font-face {
  font-family: 'Kodchasan Semi Bold';
  src: url('/fonts/Kodchasan-SemiBold.ttf');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Kodchasan Semi Bold', sans-serif;
}

h1 {
  font-size: 30px;
  font-weight: bold;
}

.skill .tooltip {
  opacity: 0;
  transition: opacity .3s linear;
}

.skill:hover .tooltip {
  opacity: 1;
}