@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto+Mono);
@import url(https://fonts.googleapis.com/css?family=Roboto);

p {
  font-family: 'Roboto Mono';
  color: white;
  text-align: left;
}

body {
  background-color: #101010;
 	margin: 0;
	padding: 0;
}

h1 {
  text-align: left;
}

.blog_title {
  font-family: 'Montserrat';
  color: white;
  text-align: left;
  font-weight: 800;
  font-size: 36px;
}

.title {
  font-family: 'Montserrat';
  color: #f5304c;
  text-align: left;
  font-weight: 800;
  font-size: 36px;
  margin-top: -1%;
}

.name {
  font-family: sans-serif;
  color: #f5304c;
  text-align: center;
  font-weight: 800;
}

.date {
  font-family: 'Montserrat';
  font-size: 12px;
}

.description {
  font-family: 'Montserrat';
  font-size: 15px;
}

a {
	color: #f5304c;
  font-family: 'Roboto Mono';
  text-decoration: none;
}

.container {
  margin: 10px auto;
  width: 600px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
  }
}

.blog {
  background-color: #151515;
  border-radius: 10px;
  border: 10px solid #151515;
  margin: 20px;
  transition: transform 0.4s ease;
  overflow-wrap: break-word;
}

.blog.blog:hover {
  transform: scale(1.03);
}

.blog_container {
  margin: 60px auto;
  width: 730px;
  text-align: left;
  overflow-wrap: break-word;
  user-select: text;
  overflow: hidden;
}

@media (max-width: 730px) {
  .blog_container {
    width: 100%;
  }
}


/*

MARKDOWN

*/

.markdown {
  font-family: 'Roboto Mono';
  margin-top: 30px;
  text-align: left;
}

.markdown img {
  max-width: 100%;
}

ol li::marker {
  color: #f5304c;
}

ul li::marker {
  color: #f5304c;
}